@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<html>
    <body>
        @{
            if (CurrentPage.HasValue("triToeBase64Media"))
            {
                var dynamicMediaItem = Umbraco.Media(CurrentPage.triToeBase64Media);
                if (dynamicMediaItem.ContentType.Alias == "triToeBase64Image")
                {
                    var triToeImageUrl = string.Empty;
                    if (dynamicMediaItem.HasProperty("triToeBase64EncodedImage") && string.IsNullOrEmpty(dynamicMediaItem.triToeBase64EncodedImage) == false)
                    {
                        triToeImageUrl = dynamicMediaItem.triToeBase64EncodedImage;
                    }
                    else if (dynamicMediaItem.HasProperty("umbracoFile") && string.IsNullOrEmpty(dynamicMediaItem.umbracoFile) == false)
                    {
                        triToeImageUrl = dynamicMediaItem.umbracoFile;
                    }
                    <img src="@triToeImageUrl" alt="@dynamicMediaItem.Name" />
                }
            }
        }
    </body>
</html>